.features{
    /* position: absolute; */
    float: left;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    width: 62%;
}

/* Указание стилей для h1 и основного блока текста */
/* Надо будет убрать в будущем */
.features p {
    margin-top: 100px;
    max-width: 800px; 
    margin: 20px auto; 
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    
}


/* Стили для таблицы созданных объектов биобанка определенного типа  */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px; /* Устанавливаем отступ вокруг таблицы */
}

/* Стили для заголовков таблицы */
table th {
    background-color: #2c2c2c;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

/* Стили для ячеек таблицы */
table td {
    color: #fff;
    padding: 10px;
    border: 1px solid #4d4d4d;
}
.table_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: left;
}

.table_list_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_list_value{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_detail_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_detail_value{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.link-style {
    color: white;
    text-decoration: none;
    transition: transform .6s ease;

  }

.link-style:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

/* Стиль названия раздела биобанка*/
.title_object p {
    color: #fff;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    position: absolute;
    font-family:'Times New Roman', Times, serif
}

/* Увеличение размеров названия раздела по сравнению с кнопкой "добавить" */
.larger-text {
    /* position:absolute; */
    font-size: 24px;
    margin-left: 40px;
}

.add_sample{
    color: red;
    background-color: #eb5959;
}
.user_form{
    width: 400px;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.form-check{
    text-align: left;
    margin-left: 10%;
}

.pregnancy{
    margin-top: 5px;
    margin-bottom: 5px;
}

.add_sample{
    position: relative;
    margin-left: 23%;
}

.filter{
    position: absolute;
    margin-left:1000px;
    margin-top: 50px;
    width: 300px;

}

.filter label{
    color:white;
}

.collapsible {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 300px;
    color: white;
    transition: max-height 0.3s ease-out;


  }

.content {
  display: none;
  padding: 10px;
  width: 300px;
  transition: max-height 0.3s ease-out;
}

.individ_samples_list{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    gap: 50px;
    position: relative;
    margin-left: 760px;
}

.container_pregnancy {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .input_container {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    gap: 10px;
  }
  .body {
    margin-top: 20px;
  }