/*Задаются свойства для блока main в приложении main в файле BIOABANK/index.html*/
.features{
    /* position: absolute; */
    float: left;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    width: 62%;
}

.features p {
    margin-top: 100px;
    max-width: 800px; 
    margin: 20px auto; 
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}