.family_title {
    align-items: center; /* Выравнивание по вертикали */
    color: #fff;
    margin-top: 10px;
    position: absolute;
}
.add_individ{
    margin-left: 250px;
    position: absolute;
    color: #fff;
    margin-top: 13px;
    align-items: center; /* Выравнивание по вертикали */
}

.features {
    display: flex;
    color: #fff;
    text-align: center;
    width: 62%;
}

.table_detail_property{
    border: 1px solid #cecfd5;

}

.table_detail_value{
    border: 1px solid #cecfd5;
}

.link-style {
    color: white;
    text-decoration: none;
    transition: transform .6s ease;

  }

.link-style:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

.larger-text {
    font-size: 24px;
}

.user_form{
    width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}