.features{
    /* position: absolute; */
    float: left;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    width: 62%;
}

/* Указание стилей для h1 и основного блока текста */
/* Надо будет убрать в будущем */
.features p {
    margin-top: 100px;
    max-width: 800px; 
    margin: 20px auto; 
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    
}


/* Стили для таблицы созданных объектов биобанка определенного типа  */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px; /* Устанавливаем отступ вокруг таблицы */
}

/* Стили для заголовков таблицы */
table th {
    background-color: #2c2c2c;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

/* Стили для ячеек таблицы */
table td {
    color: #fff;
    padding: 10px;
    border: 1px solid #4d4d4d;
}
.table_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: left;
}

.table_list_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_list_value{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_detail_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_detail_value{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.link-style {
    color: white;
    text-decoration: none;
    transition: transform .6s ease;

  }

.link-style:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

/* Стиль названия раздела биобанка*/
.title_object p {
    color: #fff;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 15px;
    position: absolute;
    font-family:'Times New Roman', Times, serif
}

/* Увеличение размеров названия раздела по сравнению с кнопкой "добавить" */
.larger-text {
    /* position:absolute; */
    font-size: 24px;
    margin-left: 0px;
}

.user_form{
    width: 400px;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.form-check{
    text-align: left;
    margin-left: 10%;
}

.table-container {
    width: 50%;
}

.my-table {
    border-collapse: collapse;
    width: 100%;
}

.my-table th,
.my-table td {
    border: 1px solid  #FFDB8B;
    padding: 10px;
    text-align: center;
}

.my-table tr {
    margin-bottom: 10px;
}

.my-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.my-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.my-table td.green-bg {
    background-color: #004d00;
}

.my-table td a {
    text-decoration: none; /* Убираем подчеркивание для всех ссылок внутри td */
    color: inherit; /* Наследование цвета текста от родителя */
}

.samples {
    width: 600px;
}



.sample-statistic{
    position: absolute;
    width: 170px;
    margin-top: 20px;
}

.sample-statistic th, .sample-statistic td {
    border: 1px solid #000; /* Добавление обводки для всех ячеек */
    padding: 5px; /* Добавление отступов внутри ячеек */
}

.storage-cell {
    width: 50px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
}

.storage-cell::before {
    content: "";
    display: block;
    padding-top: 100%; /* Это соотношение сторон (100% ширины относительно высоты), что делает ячейку квадратной */
}

.green-circle {
    width: 90%;
    height: 90%;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.red-circle {
    width: 90%;
    height: 90%;
    background-color: red; /* or red for .red-circle */
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.red-circle a {
    color: white; /* Set text color as needed */
    text-decoration: none; 
}