.features{
    float: left;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    width: 62%;
}
.table_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: left;
}

.table_list_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_list_value{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_detail_property{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.table_detail_value{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

.link-style {
    color: white;
    text-decoration: none;
    transition: transform .6s ease;

  }

.link-style:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

/* Стиль названия раздела биобанка*/
.title_object p {
    color: #fff;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    position: flex;
    font-family:'Times New Roman', Times, serif
}

/* Увеличение размеров названия раздела по сравнению с кнопкой "добавить" */
.larger-text {
    /* position:absolute; */
    font-size: 24px;
}

.user_form{
    width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.form-check{
    text-align: left;
    margin-left: 10%;
}

.searchSampleByBarcode{
    width: 200px;
    margin-left: 150px;
    position: absolute;
    margin-top: 10px;
}